
*{background-color:whitesmoke;
    font-family:monospace;
}


.titletext {
position:relative;
left:15%;
bottom:30px;
font-size:40px;
font-weight:bold;
margin:0;
font-family: 'Yellowtail', cursive;
}
.undertitle {
position:relative;
left:5%;
margin:0;
background-color:transparent;
}

.titletext2{
position:relative;
left:15%;
font-size:40px;
font-weight:bold;
margin:0;
font-family: 'IBM Plex Mono', monospace;
background-color:transparent;
}
.undertitle2{
position:relative;
left:15%;
margin:0;
background-color: transparent;
}


.listbg {
    position:relative;
    width:70%;
    left:15%;
    margin-top:50px;
}
.pizza{
    position:relative;
    width:70%;
    left:15%;
    margin-top:50px;
    margin-bottom:20px;
}

.p1, .p2, .p3 {
    position:relative;
    left:15%;
    width:70%;
}

.logo {
    background-color: black;
    display:inline-block;
    position:relative;
    left:15%;
    height:50px;
    width:50px;
}
.greybar {
    width:70%;
    background-color:lightgrey;
    color:transparent;
    position:relative;
    left:15%;
}

.nav {
    position:relative;
    left:61.5%;
}
.nav1:hover, .nav2:hover, .nav3:hover, .nav4:hover, .nav5:hover, .nav6:hover, .nav7:hover, .nav8:hover{
    transition:350ms;
    border:outset 5px blue;
    background-color:blue;
}
.nav1:active, .nav2:active, .nav3:active, .nav4:active, .nav5:active, .nav6:active, .nav7:active, .nav8:active {
    transition:350ms;
    border:inset 5px gold;
}
.nav7, .nav8 {
    position:relative;
    left:10px;
}

.vanessa, .vantext, .undervantext {
    position:relative;
    left:15%;
    background-color:transparent;
    margin-bottom:0;
    
}

.vantext {
    position:relative;
    bottom:30px;
}
.undervantext {
    position:relative;
    left:25%;
    bottom:20px;
    margin-bottom:0;
    
}
li, s {
    background-color:transparent;
    margin:4.5px;
}
/* list {
    position:relative;
    left:15%;
    background-color:transparent;
}
.list2 {
    position:relative;
    left:50%;
    bottom:350px;
    background-color:transparent;
} */
.list, .list2 {
    background:transparent;
}
.parent {
    position:relative;
}
.lista {
    position:absolute;
    font-size:120%;
    left:15%;
    bottom:15%;
    background-color:transparent;
}
.listb {
    position:absolute;
    font-size:120%;
    left:50%;
    bottom:15%;
    background-color:transparent;
}

.smlogo {
    position:relative;
    left:50%;
}

.printdiv {
    position: relative;
    left:80%;
}
printdivtxt {
    position: absolute;
    left:80%;
}

/* .print {
    position:relative;
    left:70%;
    margin:0;
    top:50px;
} */
/* .printtext {
    position:relative;
    left:72%;
    font-size:10px;
    margin:0;
    top:35px;
    background-color:transparent;
} */

.foot, .foot2 {
    color:rgb(45,45,45);
    opacity:.7;
}

.share {
    position:relative;
    width:70%;
    left:15%;
    bottom:25px;
    background-color:coral;
    color:white;
}
.share:hover {
    transition:350ms;
    border:outset 5px blue;
}
.share:active {
    transition:350ms;
    border:inset 5px goldenrod;
}

.p1, .p2, .p3 {
    text-indent:30px;
}