.default {}

td, th {border: 2px solid black;
    background-color: lightblue;
}

td:active, th:active {
    border: 1px inset salmon;
    background-color: salmon;
}

.clickme {
    border:2px outset salmon;
    width:20%;
    background-color:salmon;
}

.clickme:active {
    background-color: lightgrey;
    border:2px inset salmon;
}

.mainheader {
    display: block;
    color: salmon;
    border:2px outset salmon;
    text-align: center;
}

.fake {
    font-style:italic;

}

.body2 {
    border: 2px solid salmon;
    font-weight:bold;
    font-size: 20;
    font-style:oblique;
    color: darkolivegreen;
}